.App{
  background-image:url(
    https://i.pinimg.com/564x/4a/94/26/4a94268541d7a0ed95a8be5138e8a288.jpg
  );
  background-size: cover;
  text-align: center;
}

.SubHeading{
  text-align: justify;
  margin-left: 450px;
  color: beige;
  font-family: 'Quintessential', cursive;
}

.Heading{
  text-align: left;
  color: beige;
  font-family: 'Times New Roman', cursive;
}

.image1{
  width: 400px;
  height: 250px;
  margin: 1.5rem;
  border-radius: 1rem;
}

.combineditem{
  display: flex;
  text-align: center;
}

.content{
  color: beige;
  font-family: 'Quintessential', cursive;
  margin-top: 6rem;
  font-size: 1.5rem;
}

.buttonwords{
  color: beige;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  font-size: 25px;
}

.copyright{
  text-align: justify;
  font-family:cursive;
}